@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #D3EEE2;
	color: #2E3444;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #FF2A48;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #2E3444;
}

section {
	padding: 1em;
	text-align: center;
}

.related {
	padding: 15em 0 3em;
	clear: both;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 1px solid #2E3444;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #2E3444;
}

.related a:hover {
	border-color: #FF2A48;
	color: #FF2A48;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}